@font-face {
  font-family: "Domine";
  src: url(../assets/fonts/Domine-Regular.ttf);
}
@font-face {
  font-family: "Staatliches";
  src: url(../assets/fonts/Staatliches-Regular.ttf);
}
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

header {
  background-color: white;
  width: auto;
  height: 8rem;
  border: solid 1px black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
header a img {
  width: 12.5rem;
}
header nav {
  margin-right: 1rem;
}
header nav ul {
  font-family: "Domine";
  font-size: 1.6rem;
}
header nav ul li a {
  color: #004E63;
  text-decoration: none;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
header .navbar {
  --bs-navbar-padding-y: 2.7rem;
}
header #navv {
  display: flex;
  justify-content: flex-end;
}
header #navbarN {
  background-color: rgba(255, 255, 255, 0.696);
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: end;
}
header .nav-link {
  color: #004E63;
}
header .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #004E63;
}

footer {
  background-color: white;
  width: auto;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
}
footer .redes {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
footer .redes a {
  color: #004E63;
  text-decoration: none;
}
footer .redes a .iconosredes {
  font-size: 2.8rem;
  padding: 0 0.4rem;
}
footer ul {
  color: #004E63;
  font-size: 1.8rem;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 0.4rem;
  padding-left: 0;
}
footer ul li a {
  margin-right: 0.3rem;
  color: #004E63;
  text-decoration: none;
}
footer p {
  font-size: 1rem;
  font-family: "Domine";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.titulo {
  font-size: 7.6vh;
  font-family: "Staatliches";
  color: #004E63;
  margin-top: 0.4rem;
  margin-left: 1.2rem;
  font-weight: bold;
}

.gral {
  background: linear-gradient(white, #004E63);
  width: 100%;
  height: 100%;
}

body, h1 {
  line-height: normal;
  font-family: normal;
  margin-bottom: 0;
}

.mindex {
  background-image: url(../assets/fotos_index/foto_index.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.mindex .fika {
  font-family: "Staatliches";
  font-weight: bold;
  font-size: 25rem;
  color: #004E63;
  text-shadow: 0.5px 0.5px 20px white;
  padding-top: 20vh;
  padding-bottom: 20vh;
  text-align: center;
}

.sn1 {
  font-family: "Domine";
  font-size: 1.6rem;
  color: black;
  margin: 0.5rem 2rem 1.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.sn1 p {
  margin-bottom: 0;
}
.sn1 .imgsn {
  margin: 0 0.5rem 1rem 1rem;
}
.sn1 .imgsn img {
  width: 15.65rem;
  height: 10.6rem;
  margin: 0 0.8rem 0.8rem 0.8rem;
}
.sn1 #imggrande {
  width: 50.1rem;
  height: 33.5rem;
}

.nuestroequipo {
  background-color: #004E63;
}
.nuestroequipo h2 {
  font-family: "Staatliches";
  font-size: 4.2rem;
  color: white;
  text-align: center;
  padding-top: 2.2rem;
}
.nuestroequipo .personal {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.nuestroequipo .personal .persona {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.nuestroequipo .personal .persona p {
  font-family: "Domine";
  font-size: 1.4rem;
  color: white;
  max-width: 26rem;
  padding: 1.4vh 0;
  text-align: center;
}
.nuestroequipo .personal .persona img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  padding: 0 9vw;
}

.tipomenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.tipomenu a {
  color: white;
  text-decoration: none;
}
.tipomenu h2 {
  font-family: "Domine";
  font-size: 1.8rem;
  text-align: center;
  background-color: #004E63;
  padding: 3.5vh 21vw;
}
.tipomenu #bebida, .tipomenu #comida {
  text-shadow: 0 0 0.5rem white;
}

.doblemenu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.doblemenu .menusimple {
  max-width: 35rem;
  background-color: white;
  padding: 3rem 4rem;
  border: solid 1.6rem #004E63;
  border-radius: 10%;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.doblemenu .menusimple h3 {
  font-family: "Domine";
  font-size: 2rem;
  padding-bottom: 1.5rem;
  text-decoration: underline;
}
.doblemenu .menusimple .opciones {
  margin: 0 1.5rem 1rem 1.5rem;
}
.doblemenu .menusimple .opciones h4 {
  font-family: "Domine";
  font-size: 1.4rem;
  font-style: italic;
}
.doblemenu .menusimple .opciones p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
}

.secgaleria {
  font-family: "Domine";
  font-size: 2.6rem;
  color: white;
  text-align: center;
  background-color: #004E63;
  padding: 3.5vh 20vw;
  margin-bottom: 1rem;
}

.imggaleria {
  margin: 2% 5%;
}
.imggaleria img {
  width: 20vw;
  height: 26.5vh;
  padding: 1.7vh 1vw;
}

.iframess iframe {
  padding: 1vh 1vw;
  margin: 2% 1.2%;
}

.pcontact {
  font-family: "Domine";
  font-size: 2.8vh;
  color: white;
  text-align: center;
  background-color: #004E63;
  padding: 2vh 1.5vw;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-bottom: 1rem;
}
.contact form {
  padding: 4vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact form label {
  font-family: "Domine";
  font-size: 2.6vh;
  color: #04323e;
  padding-top: 1.7vh;
  padding-bottom: 0.7vh;
  margin-bottom: 0.5rem;
}
.contact form #nya, .contact form #email, .contact form #edad, .contact form #sexo, .contact form #mensaje {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.4vh;
  background-color: rgba(245, 245, 245, 0.374);
  border: solid 0.1vh #004E63;
  width: 40vw;
  color: black;
}
.contact form #nya::placeholder, .contact form #email::placeholder, .contact form #edad::placeholder, .contact form #sexo::placeholder, .contact form #mensaje::placeholder {
  color: rgba(0, 0, 0, 0.881);
}
.contact form .edsex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 41vw;
}
.contact form .edsex #edad, .contact form .edsex #sexo {
  width: 18vw;
}
.contact form .form-text {
  font-family: "Domine";
  font-size: 1.1em;
  color: var(--bs-secondary-color);
}
.contact form #enviar {
  background-color: #004E63;
  font-family: "Times New Roman", Times, serif;
  border: 0;
  box-shadow: 0 0 1vh #042b36;
  font-size: 3vh;
  width: 20vw;
  height: 5vh;
  color: honeydew;
  margin-top: 3vh;
}
.contact .mapaytel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 11.5vh;
}
.contact .mapaytel #fichaDeContacto {
  max-width: 42vw;
  background-color: #004E63;
  padding: 1.5vh 1vw;
  margin-top: 4vh;
}
.contact .mapaytel #fichaDeContacto #whatsapp, .contact .mapaytel #fichaDeContacto #mail, .contact .mapaytel #fichaDeContacto #ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.contact .mapaytel #fichaDeContacto #whatsapp .iconoscontacto, .contact .mapaytel #fichaDeContacto #mail .iconoscontacto, .contact .mapaytel #fichaDeContacto #ubicacion .iconoscontacto {
  font-size: 2.4vw;
  color: white;
  padding-right: 0.6vw;
}
.contact .mapaytel #fichaDeContacto #whatsapp p, .contact .mapaytel #fichaDeContacto #mail p, .contact .mapaytel #fichaDeContacto #ubicacion p {
  display: inline;
  font-family: "Domine";
  font-size: 2.3vh;
  color: white;
}

@media (max-width: 1180px) {
  .titulo {
    font-size: 7vh;
  }
  .sn1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.4rem;
  }
  .sn1 p {
    margin-bottom: 2.3rem;
    text-align: center;
  }
  .sn1 .imgsn {
    display: flex;
    flex-direction: row;
    margin: 0;
  }
  .sn1 .imgsn img {
    width: 28rem;
    height: 28rem;
    margin: 0 1rem 2vh 1rem;
  }
  .sn1 #imggrande {
    width: 88rem;
    height: 48rem;
    margin-bottom: 1rem;
  }
  .nuestroequipo .personal {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .nuestroequipo .personal .persona p {
    max-width: 20rem;
  }
  .nuestroequipo .personal .persona img {
    padding: 0 7vw;
  }
  .doblemenu {
    justify-content: space-evenly;
  }
  .doblemenu .menusimple {
    max-width: 31rem;
  }
  .pcontact {
    font-size: 2vh;
    padding: 1.8vh 1vw;
  }
  #edad, #sexo {
    width: 17vw;
  }
  #enviar {
    width: 15vw;
  }
  #whatsapp, #mail, #ubicacion {
    display: flex;
    align-items: flex-start;
  }
  #fichaDeContacto p {
    font-size: 2.4vh;
  }
}
@media (max-width: 920px) {
  .titulo {
    font-size: 6vh;
  }
  .mindex .fika {
    font-size: 20rem;
    padding-top: 26rem;
    padding-bottom: 28rem;
  }
  .sn1 .imgsn img {
    width: 23rem;
    height: 18rem;
  }
  .sn1 #imggrande {
    width: 73rem;
    height: 40rem;
  }
  .nuestroequipo h2 {
    font-size: 3.8rem;
  }
  .nuestroequipo .personal {
    padding-top: 0.8rem;
  }
  .nuestroequipo .personal .persona p {
    font-size: 1.4rem;
    padding: 1.5vh 1.1vw;
    max-width: 23rem;
  }
  .tipomenu h2 {
    padding: 3.5vh 18vw;
  }
  .doblemenu .menusimple {
    max-width: 27rem;
    padding: 2rem 2.6rem;
    border: solid 1.4rem #004E63;
  }
  .doblemenu .menusimple h3 {
    font-size: 1.8rem;
    padding-bottom: 1.3rem;
  }
  .imggaleria img {
    height: 20.5vh;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .contact form {
    padding: 2vh 0;
  }
  .contact form #nya, .contact form #email, .contact form #edad, .contact form #sexo, .contact form #mensaje {
    width: 60vw;
  }
  .contact form .edsex {
    width: 62vw;
  }
  .contact form .edsex #edad, .contact form .edsex #sexo {
    width: 26.5vw;
  }
  .contact form .form-text {
    font-size: 1.3em;
  }
  .contact form #enviar {
    width: 26vw;
  }
  .contact .mapaytel {
    width: 80rem;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.7vh 0 3vh 0;
  }
  .contact .mapaytel #fichaDeContacto {
    max-width: 36vw;
    margin-top: 0;
  }
  .contact .mapaytel #fichaDeContacto #whatsapp .iconoscontacto, .contact .mapaytel #fichaDeContacto #mail .iconoscontacto, .contact .mapaytel #fichaDeContacto #ubicacion .iconoscontacto {
    font-size: 3.7rem;
  }
  .contact .mapaytel #fichaDeContacto #whatsapp p, .contact .mapaytel #fichaDeContacto #mail p, .contact .mapaytel #fichaDeContacto #ubicacion p {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  footer ul {
    font-size: 1.7rem;
  }
  .titulo {
    font-size: 6vh;
    margin-left: 2.8vw;
  }
  .mindex .fika {
    font-size: 20rem;
    padding-top: 19rem;
    padding-bottom: 21rem;
    margin: 0 6vw;
  }
  .sn1 {
    font-size: 1.3rem;
  }
  .sn1 .imgsn img {
    width: 18rem;
    height: 14rem;
    margin: 0 0.7rem 1.5vh 0.7rem;
  }
  .sn1 #imggrande {
    width: 57rem;
    height: 31rem;
  }
  .nuestroequipo .personal .persona p {
    font-size: 1.2rem;
    padding: 1.5vh 5vw;
    max-width: 14rem;
  }
  .nuestroequipo .personal .persona img {
    padding: 0 5vw;
    width: 12rem;
    height: 12rem;
  }
  .tipomenu h2 {
    font-size: 1.8rem;
    padding: 3.3vh 18vw;
  }
  .doblemenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .doblemenu .menusimple {
    max-width: 35rem;
    padding: 3rem 4rem;
    border: solid 1.6rem #004E63;
    margin: 1rem 0;
  }
  .doblemenu .menusimple h3 {
    padding-bottom: 1.5rem;
  }
  .secgaleria {
    font-size: 2rem;
    padding: 2.5vh 20vw;
    margin-bottom: 0.8rem;
  }
  .iframess {
    text-align: center;
  }
  .iframess iframe {
    width: 90%;
    margin: 2% 2%;
  }
  .pcontact {
    font-size: 1.8vh;
    padding: 1.8vh 2vw;
  }
  .contact .mapaytel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
    height: 390px;
  }
  .contact .mapaytel #fichaDeContacto {
    max-width: 80vw;
    margin-bottom: 2vh;
  }
  .contact .mapaytel #fichaDeContacto #whatsapp p, .contact .mapaytel #fichaDeContacto #mail p, .contact .mapaytel #fichaDeContacto #ubicacion p {
    font-size: 2.2vh;
  }
}
@media (max-width: 600px) {
  footer ul {
    font-size: 1.4rem;
  }
  .titulo {
    font-size: 5vh;
  }
  .mindex .fika {
    font-size: 17.7rem;
  }
  .sn1 p {
    font-size: 1.5rem;
  }
  .sn1 .imgsn img {
    width: 13.5rem;
    height: 10rem;
  }
  .sn1 #imggrande {
    width: 44rem;
    height: 22rem;
  }
  .nuestroequipo h2 {
    font-size: 3.1rem;
  }
  .nuestroequipo .personal .persona img {
    width: 10rem;
    height: 10rem;
    padding: 0 3.2rem;
  }
  .tipomenu h2 {
    padding: 3vh 16vw;
  }
  .doblemenu .menusimple {
    max-width: 30rem;
  }
  .secgaleria {
    padding: 2.8vh 20vw;
  }
  .imggaleria img {
    width: 40vw;
    height: 18vh;
    padding: 1vh 2.3vw;
  }
  .contact .mapaytel #fichaDeContacto #whatsapp .iconoscontacto, .contact .mapaytel #fichaDeContacto #mail .iconoscontacto, .contact .mapaytel #fichaDeContacto #ubicacion .iconoscontacto {
    font-size: 4rem;
  }
}
@media (max-width: 480px) {
  footer ul {
    font-size: 1.2rem;
  }
  .mindex .fika {
    font-size: 13.8rem;
    text-shadow: 0 0 1rem white;
  }
  .sn1 p {
    font-size: 1.55rem;
  }
  .sn1 .imgsn {
    flex-direction: column;
  }
  .sn1 .imgsn img {
    width: 28rem;
    height: 20rem;
    margin-bottom: 1.5rem;
  }
  .sn1 #imggrande {
    width: 28rem;
    height: 20rem;
    margin-bottom: 1.5rem;
  }
  .nuestroequipo h2 {
    font-size: 3.8rem;
    padding-bottom: 1.5rem;
  }
  .nuestroequipo .personal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .nuestroequipo .personal .persona p {
    font-size: 1.55rem;
    padding-top: 1.2rem;
    padding-bottom: 3rem;
    max-width: 30rem;
  }
  .nuestroequipo .personal .persona img {
    width: 13rem;
    height: 13rem;
    padding: 0 8.5rem;
  }
  .tipomenu h2 {
    font-size: 1.6rem;
    padding: 2.2vh 13vw;
  }
  .doblemenu .menusimple {
    max-width: 25.5rem;
    padding: 2.5rem 2rem;
    border: solid 1rem #004E63;
  }
  .doblemenu .menusimple h3 {
    font-size: 1.6rem;
    padding-bottom: 0.8rem;
  }
  .doblemenu .menusimple .opciones {
    margin-bottom: 0.6rem;
  }
  .doblemenu .menusimple .opciones h4 {
    font-size: 1.4rem;
  }
  .doblemenu .menusimple .opciones p {
    font-size: 1.2rem;
  }
  .secgaleria {
    font-size: 1.9rem;
    padding: 2.2vh 2vw;
  }
  .imggaleria {
    margin: 2% 2.5%;
  }
  .imggaleria img {
    width: 46%;
    height: 15%;
    padding: 0.7vh 1.5vw;
  }
  .pcontact {
    font-size: 1.5rem;
    padding-top: 1.4vh;
    padding-bottom: 1.4vh;
    margin-bottom: 0;
  }
  .contact form {
    padding: 2vh 1vw;
  }
  .contact form label {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  .contact form #nya, .contact form #email, .contact form #edad, .contact form #sexo, .contact form #mensaje {
    font-size: 1.45rem;
    width: 72vw;
  }
  .contact form .edsex {
    width: 77vw;
  }
  .contact form .edsex #edad, .contact form .edsex #sexo {
    width: 31vw;
  }
  .contact form .form-text {
    font-size: 1.2rem;
    max-width: 80%;
  }
  .contact form #enviar {
    font-size: 2.2vh;
    width: 40vw;
    height: 4.2vh;
  }
  .contact .mapaytel {
    justify-content: space-evenly;
  }
  .contact .mapaytel iframe {
    width: 300px;
  }
  .contact .mapaytel #fichaDeContacto {
    max-width: 90vw;
    padding: 1vh 2vw;
    text-align: center;
  }
  .contact .mapaytel #fichaDeContacto #whatsapp .iconoscontacto, .contact .mapaytel #fichaDeContacto #mail .iconoscontacto, .contact .mapaytel #fichaDeContacto #ubicacion .iconoscontacto {
    font-size: 9vw;
  }
  .contact .mapaytel #fichaDeContacto #whatsapp p, .contact .mapaytel #fichaDeContacto #mail p, .contact .mapaytel #fichaDeContacto #ubicacion p {
    font-size: 1.6vh;
  }
}

/*# sourceMappingURL=styles.css.map */
