.pcontact{
    font-family: $textsFont;
    font-size: 2.8vh;
    color: white;
    text-align: center;
    background-color: $mainColor;
    padding: 2vh 1.5vw;
}
.contact{
    @include flexb(row, space-evenly, flex-start);
    padding-bottom: 1rem;
    form{
        padding: 4vh 0;
        @include flexb(column, center, center);
        label{
            font-family: $textsFont;
            font-size: 2.6vh;
            color: #04323e;
            padding-top: 1.7vh;
            padding-bottom: 0.7vh;
            margin-bottom: 0.5rem;
        }
        #nya, #email, #edad, #sexo, #mensaje{
            font-family: 'Times New Roman', Times, serif;
            font-size: 2.4vh;
            background-color: rgba(245, 245, 245, 0.374);
            border: solid 0.1vh $mainColor;
            width: 40vw;
            color: black;
        }
        #nya::placeholder, #email::placeholder, #edad::placeholder, #sexo::placeholder, #mensaje::placeholder{
            color: rgba(0, 0, 0, 0.881);
        }
        .edsex{
            @include flexb(row, space-between, stretch);
            width: 41vw;
            #edad, #sexo{
                width: 18vw;
            }
        }
        .form-text{
            font-family: $textsFont;
            font-size: 1.1em;
            color: var(--bs-secondary-color);
        }
        #enviar{
            background-color: $mainColor;
            font-family: 'Times New Roman', Times, serif;
            border: 0;
            box-shadow: 0 0 1vh #042b36;
            font-size: 3vh;
            @include tamaños(20vw, 5vh);
            color: honeydew;
            margin-top: 3vh;
        }
    }
    .mapaytel{
        @include flexb(column, flex-start, center);
        margin-top: 11.5vh;
        #fichaDeContacto{
            max-width: 42vw;
            background-color: $mainColor;
            padding: 1.5vh 1vw;
            margin-top: 4vh;
            #whatsapp, #mail, #ubicacion{
                @include flexb(row, flex-start, flex-end);
                .iconoscontacto{
                    font-size: 2.4vw;
                    color: white;
                    padding-right: 0.6vw;
                }
                p{
                    display: inline;
                    font-family: $textsFont;
                    font-size: 2.3vh;
                    color: white;
                }
            }
        }
    }
}