/* Tipografías */
@font-face {
    font-family: "Domine";
    src: url(../assets/fonts/Domine-Regular.ttf);
}

@font-face {
    font-family: "Staatliches";
    src: url(../assets/fonts/Staatliches-Regular.ttf);
}

/* Buenas Prácticas */
html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* Header y relacionado */
header{
    background-color: white;
    width: auto;
    height: 80px;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a img{
    width: 12.5rem;
}

nav{
    margin-right: 10px;
}

nav ul{
    font-family: "Domine";
    font-size: 1.6rem;
}

li a{
    color:#004E63;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
}

.navbar{
    --bs-navbar-padding-y: 2.7rem;
}

#navv{
    display: flex;
    justify-content: end;
}

#navbarN{
    background-color: rgba(255, 255, 255, 0.696);
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: end;
}

.nav-link{
    color:#004E63;
}

.navbar-nav .nav-link.active{
    font-weight: bold;
    color: #004E63;
}

/* Footer y relacionado */
footer{
    background-color: white;
    width: auto;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
}

.redes{
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.iconosredes {
    font-size: 28px;
    padding: 0px 4px;
}

.redes a{
    color:#004E63;
    text-decoration: none;
}

footer ul{
    color:#004E63;
    font-size: 18px; 
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.3rem;
    padding-left: 0;
}

footer ul li a{
    margin-right: 3px;
}

footer p{
    font-size: 10px;
    font-family: "Domine";
    display: flex;
    justify-content: center;
}

/* General */
.titulo{
    font-size: 7.6vh;
    font-family: "Staatliches";
    color:#004E63;
    margin-top: 4px;
    margin-left: 12px;
    font-weight: bold;
}

.gral{
    background: linear-gradient(white, #004E63);
    width: 100%;
    height: 100%;
}

body, h1{
    line-height: normal; /*Esto lo hago porque sino el css de bootstrap me modifica el estilado*/
    font-family: normal; /*Esto lo hago porque sino el css de bootstrap me modifica el estilado*/
    margin-bottom: 0;
}

/* Exclusivo Index */
.fika{
    font-family: "Staatliches";
    font-weight: bold;
    font-size: 250px;
    color:#004E63;
    text-shadow: 0.5px 0.5px 20px white;
    padding-top: 20vh;
    padding-bottom: 20vh;
    text-align: center; 
}

.mindex{
    background-image: url(../assets/fotos_index/foto_index.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Exclusivo Sobre Nosotros */
.sn1{
    font-size: 16px;
    font-family: "Domine";
    color:black;
    margin: 5px 20px 15px 20px;
    display: flex;
    flex-direction: row;
}

.sn1 p{
    margin-bottom: 0;
}

.imgsn{
    margin: 0px 5px 10px 10px;
}

.imgsn img{
    width: 156.5px;
    height: 10.6rem;
    margin: 0px 8px 8px 8px;
}

#imggrande{
    width: 50.1rem;
    height: 33.5rem;
}

.nuestroequipo{
    background-color: #004E63;
}

.nuestroequipo h2{
    font-family: "Staatliches";
    font-size: 42px;
    color: white;
    text-align: center;
    padding-top: 22px;
}

.personal{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.personal p{
    font-family: "Domine";
    font-size: 14px;
    color: white;
    max-width: 175px;
    padding: 1.2vh 8vw 2vh 8vw;
    text-align: center;
}

.personal img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 0 9vw;
}

/* Exclusivo Carta */
.tipomenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bebida, #comida{
    text-shadow: 0 0 5px white;
}

.tipomenu a{
    color: white;
    text-decoration: none;
}

.tipomenu h2{
    font-family: "Domine";
    font-size: 1.8rem;
    text-align: center;
    background-color: #004E63;
    padding: 3.5vh 20vw;
}

.doblemenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menusimple{
    max-width: 350px;
    background-color: white;
    padding: 3rem 4rem;
    border: solid 1.6rem #004E63;
    border-radius: 10%;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.menusimple h3{
    font-size: 20px;
    font-family: "Domine";
    padding-bottom: 1.5rem;
    text-decoration: underline;
}

.opciones{
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.opciones h4{
    font-size: 14px;
    font-family: "Domine";
    font-style: italic;
}

.opciones p{
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

/* Exclusivo Galería */
.secgaleria{
    font-family: "Domine";
    font-size: 2.2rem;
    color: white;
    text-align: center;
    background-color: #004E63;
    padding: 3.5vh 20vw;
    margin-bottom: 1rem;
}

.imggaleria{
    margin: 2% 5%;
}

.imggaleria img{
    width: 20vw;
    height: 15vw;
    padding: 1.7vh 1vw;
}

iframe{
    padding: 1vh 1vw;
    margin: 2% 1.2%;
}

/* Exclusivo Contacto */
.pcontact{
    font-size: 2.8vh;
    font-family: "Domine";
    color: white;
    text-align: center;
    background-color: #004E63;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.contact{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

form{
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label{
    font-family: "Domine";
    font-size: 2.6vh;
    color:#04323e;
    display: block;
    padding-top: 1.7vh;
    padding-bottom: 0.7vh;
    margin-bottom: 0.5rem;
}

.form-text{
    font-family: "Domine";
    margin-top: 0.3rem;
    font-size: 1.1em;
    color: var(--bs-secondary-color);
}

#nya::placeholder, #email::placeholder, #edad::placeholder, #sexo::placeholder, #mensaje::placeholder{
    color: rgba(0, 0, 0, 0.881);
}

#nya, #email, #edad, #sexo, #mensaje{
    font-family:'Times New Roman', Times, serif;
    font-size: 2.4vh;
    background-color: rgba(245, 245, 245, 0.374);
    border: solid 0.1vh #004E63;
    width: 40vw;
    color: rgb(0, 0, 0);
}

#edad, #sexo{
    width: 18vw;   
}

.edsex{
    display: flex;
    flex-direction: row;
    width: 41vw;
    justify-content: space-between;
}

#enviar{
    background-color: #074c5f;
    font-family:'Times New Roman', Times, serif;
    border: 0;
    box-shadow: 0 0 1vh #042b36;
    font-size: 3vh;
    width: 20vw;
    height: 5vh;
    color: honeydew;
    margin-top: 3vh;
    margin-left: 0;
}

.mapaytel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 11.5vh;
}

#fichaDeContacto{
    max-width: 42vw;
    margin-left: 0;
    background-color: #004E63;
    padding: 1.5vh 1vw;
    margin-bottom: 3vh;
}

#whatsapp, #mail, #ubicacion{
    display: flex;
    align-items: flex-end;
}

.iconoscontacto{
    font-size: 2.4vw;
    color: white;
    padding-right: 0.6vw;
}

#fichaDeContacto p{
    display: inline;
    font-family: "Domine";
    font-size: 2.3vh;
    color: white;
}

/* Media Queries - Responsive Design */
@media (max-width:1180px) {
    /* General */
    .titulo{
        font-size: 7vh;
    }

    /* Exclusivo Sobre Nosotros */
    .sn1{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 14px;
    }

    .sn1 p{
        margin-bottom: 2.3rem;
        text-align: center;
    }
    
    .imgsn{
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    
    .imgsn img{
        width: 28rem;
        height: 23rem;
        margin: 0 1rem 2vh 1rem;
    }
    
    #imggrande{
        width: 88rem;
        height: 48rem;
        margin-bottom: 1rem;
    }
    
    .personal{
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* Exclusivo Carta */ 
    .doblemenu{
        justify-content: space-evenly;
    }
    
    .menusimple{
        max-width: 310px;
    }

    /* Exclusivo Contacto */
    #whatsapp, #mail, #ubicacion{
        display: flex;
        align-items: flex-start;
    }

    .pcontact{
        font-size: 2vh;
        padding-top: 1.8vh;
        padding-bottom: 1.8vh;
    }

    #edad, #sexo{
        width: 17vw;
    }

    #enviar{
        width: 15vw;
    }

    #fichaDeContacto p{
        font-size: 2.4vh;
    }
}

@media (max-width:920px) {
    /* General */
    .titulo{
        font-size: 6.5vh;
    }

    /* Exclusivo Index */
    .fika {
        font-size: 200px;
        padding-top: 19rem;
        padding-bottom: 21rem;
    }

    /* Exclusivo Sobre Nosotros */
    .imgsn img{
        width: 23rem;
        height: 18rem;
    }
    
    #imggrande{
        width: 73rem;
        height: 40rem;
    }
    
    .nuestroequipo h2{
        font-size: 38px;
    }
    
    .personal{
        padding-top: 8px;
    }
    
    .personal p{
        font-size: 14px;
        padding: 1.5vh 1.1vw;
        max-width: 230px;
    }
    
    .personal img{
        width: 120px;
        height: 120px;
        padding: 0 7vw;
    }

    /* Exclusivo Carta */
    .tipomenu h2{
        padding: 3.5vh 18vw;
    }

    .menusimple{
        max-width: 270px;
        padding: 2rem 2.6rem;
        border: solid 1.4rem #004E63;
    }

    .menusimple h3{
        font-size: 18px;
        padding-bottom: 1.3rem;
    }

    /* Exclusivo Contacto */
    .contact{
        flex-direction: column;
    }

    form{
        padding: 2vh 0;
    }

    .form-text{
        font-size: 1.3em;
    }

    #nya, #email, #edad, #sexo, #mensaje{
        width: 60vw;
    }

    #edad, #sexo{
        width: 26.5vw;   
    }

    .edsex{
        width: 62vw;
    }

    #enviar{
        width: 26vw;
    }

    .mapaytel{
        flex-direction: row;
        justify-content: center;
        margin: 1.7vh 2vw 0 0;
    }

    #fichaDeContacto{
        max-width: 36vw;
    }
}

@media (max-width:768px) {
    /* Footer */
    footer ul{
        font-size: 17px;
    }

    /* General */
    .titulo{
        font-size: 6vh;
        margin-left: 2.8vw;
    }

    /* Exclusivo Index */
    .fika {
        font-size: 200px;
        margin-left: 6vw;
        margin-right: 6vw;
    }

    /* Exclusivo Sobre Nosotros */
    .sn1{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 13px;
    }

    .sn1 p{
        margin-bottom: 2.3rem;
    }
    
    .imgsn img{
        width: 18rem;
        height: 14rem;
        margin: 0 0.7rem 1.5vh 0.7rem;
    }
    
    #imggrande{
        width: 57rem;
        height: 31rem;
    }
    
    .personal p{
        font-size: 12px;
        padding: 1.5vh 5vw;
        max-width: 140px;
    }
    
    .personal img{
        width: 120px;
        height: 120px;
        padding: 0 7vw;
    }

    /* Exclusivo Carta */
    .tipomenu h2{
        font-size: 1.6rem;
        padding: 3.3vh 18vw;
    }
    
    .doblemenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .menusimple{
        max-width: 350px;
        padding: 3rem 4rem;
        border: solid 1.6rem #004E63;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .menusimple h3{
        font-size: 1.8rem;
        padding-bottom: 1.5rem;
    }

    /* Exclusivo Galería */
    .secgaleria{
        font-size: 2rem;
        padding: 2.5vh 20vw;
        margin-bottom: 0.8rem;
    }

    .iframess{
        text-align: center;
    }

    iframe{
        width: 90%;
        margin: 2% 2%;
    }

    /* Exclusivo Contacto */
    .pcontact{
        font-size: 1.8vh;
        padding: 1.8vh 2vw;
    }

    .mapaytel{
        flex-direction: column;
        align-items: center;
        margin-top: 2vh;
    }
    
    #fichaDeContacto{
        max-width: 80vw;
        margin-bottom: 2vh;
    }
    
    #fichaDeContacto p{
        font-size: 2.2vh;
    }
}

@media (max-width:600px) {
    /* Footer */
    footer ul{
        font-size: 14px;
    }

    /* General */
    .titulo{
        font-size: 5vh;
    }

    /* Exclusivo Index */
    .fika{
        font-size: 177px;
    }

    /* Exclusivo Sobre Nosotros */    
    .sn1 p{
        text-align: center;
        font-size: 15px;
    }

    .imgsn img{
        width: 13.5rem;
        height: 10rem;
    }
    
    #imggrande{
        width: 44rem;
        height: 22rem;
        margin-bottom: 1.5rem;
    }
    
    .nuestroequipo h2{
        font-size: 31px;
    }
    
    .personal{
        padding-top: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .personal p{
        font-size: 12px;
        padding: 1.5vh 11%;
        max-width: 140px;
    }
    
    .personal img{
        width: 100px;
        height: 100px;
        padding: 0 3.2rem;
    }

    /* Exclusivo Carta */
    .tipomenu h2{
        font-size: 1.5rem;
        padding: 3vh 16vw;
    }

    .menusimple{
        max-width: 30rem;
        padding: 3rem 4rem;
        border: solid 1.6rem #004E63;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    /* Exclusivo Galería */
    .secgaleria{
        font-size: 2rem;
        padding: 2.8vh 20vw;
        margin-bottom: 0.8rem;
    }

    .imggaleria img{
        width: 40vw;
        height: 18vh;
        padding: 1vh 2.3vw;
    }

    /* Exclusivo Contacto */
    .iconoscontacto{
        font-size: 3.2vw;
    }
}

@media (max-width:480px) {
    /* Footer */
    .redes{
        margin-top: 1rem;
        margin-bottom: 1vh;
    }
    
    footer ul{
        font-size: 1.2rem;
    }

    /* General */

    .titulo{
        font-size: 4.5vh;
    }

    /* Exclusivo Index */
    .fika{
        font-size: 145px;
        text-shadow: 0.5px 0.5px 13px white;
    }

    /* Exclusivo Sobre Nosotros */
    .sn1 p{
        font-size: 13px;
    }
    
    .imgsn{
        display: flex;
        flex-direction: column;
    }
    
    .imgsn img{
        width: 30rem;
        height: 22rem;
        margin-bottom: 1.5rem;
    }
    
    #imggrande{
        width: 30rem;
        height: 22rem;
        margin-bottom: 1.5rem;
    }
    
    .personal{
        padding-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .personal p{
        font-size: 12px;
        padding: 1.5vh 0;
        max-width: 300px;
        text-align: center;
    }
    
    .personal img{
        width: 130px;
        height: 130px;
        padding: 0 8.5rem;
    }

    /* Exclusivo Carta */
    .tipomenu h2{
        font-size: 1.3rem;
        padding: 2.2vh 14vw;
    }

    .menusimple{
        max-width: 25rem;
        padding: 2.5rem 2rem;
        border: solid 1rem #004E63;
    }
    
    .menusimple h3{
        font-size: 1.5rem;
        padding-bottom: 0.8rem;
    }

    .opciones {
        margin-bottom: 0.6rem;
    }

    .opciones h4 {
        font-size: 1.1rem;
    }

    .opciones p {
        font-size: 0.9rem;    
    }

    /* Exclusivo Galería */
    .secgaleria{
        font-size: 1.8rem;
        padding: 2.2vh 2vw;
        margin-bottom: 0.8rem;
    }

    .imggaleria{
        margin: 2% 2.5%;
    }

    .imggaleria img{
        width: 46%;
        height: 15%;
        padding: 0.7vh 1.5vw;
    }

    /* Exclusivo Contacto */
    .pcontact{
        font-size: 1.4vh;
        padding-top: 1.4vh;
        padding-bottom: 1.4vh;
        margin-bottom: 0;
    }

    form{
        padding: 2vh 1vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form label{
        font-size: 1.9vh;
        margin-bottom: 0;
    }

    .form-text{
        font-size: 0.9em;
    }

    #nya, #email, #edad, #sexo, #mensaje{
        font-size: 1.7vh;
        width: 72vw;
    }

    #edad, #sexo{
        width: 31vw;   
    }

    .edsex{
        width: 77vw;
    }

    #enviar{
        font-size: 2.2vh;
        width: 40vw;
        height: 4.2vh;
    }

    #fichaDeContacto{
        max-width: 90vw;
        padding: 1vh 2vw;
        text-align: center;
    }

    .iconoscontacto{
        font-size: 4vw;
    }

    #fichaDeContacto p{
        font-size: 1.8vh;
    }
}